.mypage
{
width: 1250px;
height: auto;
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
border: solid 1px; 
color: brown;
padding: 50px;
border-color: brown;
background-color: rgb(218, 239, 245);

}


.leftside
{
width: 20em;
height:1100px;
float: left;
margin: 2em;
margin-bottom: 0.5em;
text-align: left;
background-color: rgb(172, 156, 156);
text-size-adjust: 15px;

}


.cvtitle
{
text-align: center;
height: 8em;
width: auto;
margin-left: 22.5em;
margin-right: 0.5em;
margin-top: 2em;
background-color: mediumspringgreen;
}


.bleu
{
color: blue; 
font-weight: bold;}


.buttomside
{
    background-color: rgb(172, 156, 156);
    height: 31em;
margin-left: 22.5em;
padding: 1.5em;


}

h3
{
    margin-left: 1em;
}

.checked {
    color: orange;

}
.comp1{
list-style: none; 
float: left;
width: 400px;
}
.comp2 {
    list-style: none;
    width: 300px;  
    float: left;
    
}